<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <i class="fa fa-align-justify"></i> Manage your Subcategories
            </div>
            <div class="col-3 text-right">

              <button *ngIf="!in_adding" class="btn btn-pill btn-sm btn-ghost-info" (click)="refresh()">
                <i class="icon-refresh"></i>
              </button>
              <button *ngIf="!in_adding" class="btn btn-pill btn-sm btn-ghost-primary" (click)="adding()">
                <i class="fa fa-plus"></i>
              </button>
              <button *ngIf="in_adding" class="btn btn-pill btn-sm btn-ghost-primary" (click)="adding()">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="card-body table-responsive">
          <table *ngIf="!in_adding && !in_updating" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Category Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subcategory of subcategories">
                <td>{{ subcategory.name }}</td>
                <td>{{ subcategory.category[0].name }}</td>
                <td>
                  <div class="row">
                    <div class="col-3">
                      <button class="btn btn-sm btn-warning" (click)="updating(subcategory)">
                        <i class="cui-note"></i> Edit</button>
                    </div>
                    <div class="col-3">
                      <button class="btn btn-sm btn-danger" (click)="delete(subcategory._id)">
                        <i class="icon-trash"></i> Delete</button>
                    </div>
                    <div class="col-6"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <form *ngIf="in_adding" action="">
            <div class="form-group row">
              <div class="form-group">
                <label for="name" class="col col-form-label">Name</label>
                <div class="col">
                  <input type="text" [(ngModel)]="name" class="form-control" name="name" id="name">
                </div>
              </div>
              <div class="form-group">
                <label for="category" class="col col-form-label">Categories</label>
                <div class="col">
                  <select  name="category_id" [(ngModel)]="category_id" id="category" class="form-control">
                    <option *ngFor="let category of categories" value={{category._id}}>{{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
          </form>

          <form *ngIf="in_updating" action="">
            <div class="form-group row">
              <div class="form-group">
                <label for="name" class="col col-form-label">Name</label>
                <div class="col">
                  <input type="text" [(ngModel)]="name" class="form-control" name="name" id="name">
                </div>
              </div>
              <div class="form-group">
                <label for="category" class="col col-form-label">Categories</label>
                <div class="col">
                  <select name="category_id" [(ngModel)]="category_id" id="category" class="form-control">
                    <option *ngFor="let category of categories" value={{category._id}}>{{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-3">
                <button type="button" class="btn btn-warning" (click)="submit_update()">
                  <i class="cui-note"></i> Edit</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-default" (click)="cancel_update()">
                  <i class="icon-refresh"></i> Cancel</button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>